<% include partials/header %>		
		<main>
			<div class="innertube" align = center >
				<form method="post" action="/TABC">
					<table width="100%" border =0>
						<tr align = center>
							<td colspan="3" width="100%">
								<h4>Search in TABC_ACH_BATCH_CONTROL table</h4>
							</td>
						</tr>
						<tr>
							<td width="15%"/>
							<td width="25%"><div class="form-group"><label for="triggerType">Trigger Type</label></div></td>
							<td width="60%"> <div class="form-group">
								<select name= "trigger" style="width: 400px" >
									<option value="select"></option>
									<option value="EOD">EOD</option>
									<option value="ROLL">ROLL</option>
									<option value="AGG">AGG</option>
									<option value="TT2">TT2</option>
									<option value="TT6">TT6</option>
									<option value="TT16">TT16</option>
									<option value="TT30">TT30</option>
								</select> 
								</div>
							</td>
						</tr>
						<tr>
							<td/>
							<td><div class="form-group"><label for="eventDate">Batch processing/Event date</label></div></td>
							<td><div class="form-group"><input type="date" style="width: 400px" name="eventDate"/></div></td>
						</tr>
						<tr>
							<td/>
							<td><div class="form-group"><label for="status">Batch Status</label></div></td>
							<td><div class="form-group">
								<input type="radio" name="status" value="ALL" checked> ALL
								<input type="radio" name="status" value="INPROGRESS"> INPROGRESS
								<input type="radio" name="status" value="COMPLETE"> COMPLETE
								<input type="radio" name="status" value="FAIL"> FAIL
								<input type="radio" name="status" value="TRIGGERED"> TRIGGERED
							</div></td>
						</tr>
						<tr align = center>
							<td colspan="3" width="100%">
							<button type="submit" class="btn btn-info">submit</button>
							</td>
						</tr>
						<tr align = center>
							<td colspan="3"><font color="#bc4325">
								<% if(errors != undefined){ %>
									<ul><br>
									<% errors.forEach(function(error){ %>
										<%= error.msg %> ,   
									<% }) %>
									</ul>
								<% } %></font>
							</td>
						</tr>
					</table>
				</form>
			</div>
			<div>
				<% if(dbError != undefined ){ %>
					<p align ='center'><font color="#1b2631"><%= dbError%></font></p>
				<% } else if(size == 0 ){ %>
						<p align ='center'><font color="#1b2631">No Data in TABC_ACH_BATCH_CONTROL table </font></p>
				<% } else{ %>
					<script type='text/javascript'>
					var rows =<%-JSON.stringify(data)%>
					</script>
					<% if(data != undefined){ %>
						<p>Type something in the input field to search the table</p>
						<input class="form-control" id="myInput" type="text" placeholder="Search..">
						<table width = '100%' class="table table-bordered table-striped">
						  <thead>
							<tr align ='center'>
								<td><font color="#00BFFF">BATCH ID</font></td>
								<td><font color="#00BFFF">STATUS</font></td>
								<td><font color="#00BFFF">EXIT_SYSTEM ID</font></td>	
								<td><font color="#00BFFF">TRIGGER_TYPE</font></td>	
								<td><font color="#00BFFF">POSTING_MODE</font></td>	
								<td><font color="#00BFFF">GROUP_CODE</font></td>	
								<td><font color="#00BFFF">AGGREGATION_TYPE</font></td>	
								<td><font color="#00BFFF">ACCOUNT_DESCRIPTION</font></td>	
								<td><font color="#00BFFF">AUDIT_TIME_STAMP</font></td>
							</tr>
						  </thead>
							<% data.forEach(function(data){ %>
						  <tbody id="myTable">
								<tr>
									<td><font size="1"><a href="/search/tabl/<%= data.BATCH_ID %>"><%= data.BATCH_ID %></a></font></td>
									<td><font size="1"><%= data.STATUS %></font></td>
									<td><font size="1"><%= data.EXT_SYS_ID %></font></td>
									<td><font size="1"><%= data.TRIGGER_TYPE %></font></td>
									<td><font size="1"><%= data.POSTING_MODE %></font></td>
									<td><font size="1"><%= data.GRP_CODE %></font></td>
									<td><font size="1"><%= data.AGGR_TYPE %></font></td>
									<td><font size="1"><%= data.ACC_DESC %></font></td>
									<td><font size="1"><%= data.AUDIT_TSTAMP %></font></td>
								</tr>
							<% }) %>
						  </tbody>
						</table>
					<% }%>
				<% }%>
			</div>
		</main>

		<nav id="left">
			<div class="innertube" />
		</nav>	
		<div id="right">
			<div class="innertube">
			</div>
		</div>
<% include partials/footer %>	